[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.0"
social-auth-app-django = "*"
pandas = "*"
bokeh = "*"
plotly = "==5.5.0"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.9"
