{% extends 'base.html' %}

{% block title %}Analysis{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid text-center" style="background-color:#1f262a; justify-content:center;">
    <div class="container" style="color: white;">
        <h1 class="display-4 mb-4 ">Strava Analytics</h1>
        <h2>Your Analysis</h2>
    </div>
</div>
<div class="container-fluid d-flex h-100 flex-column">
    <div class="row">
        <div class="col-md-3 col-sm-0"></div>
        <!-- Primary Column-->
        <div class="col-md-6 col-sm-12">
            <!-- Activity Overview -->
            <h2 class="mb-5 text-center">Activities Overview</h2>
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-4 col-sm-12">
                    <div class="card bg-light">
                        <div class="card-body">
                            <p class="card-text">
                            <ul style="list-style-type: none; margin: 0; padding: 0;">
                                {% for key, value in overview.items %}
                                <li>
                                    <p><strong>{{value}}</strong> {{key}}</p>
                                </li>
                                {% endfor %}
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    {% autoescape off %}
                    <div>
                        {{ overview_chart }}
                    </div>
                    {% endautoescape %}
                </div>
            </div>
            <!-- Activity One-->
            <hr class="mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header text-center" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Collapse/Show {{activity_one.name}} Analysis
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div>
                                        <h2 class="text-center">{{activity_one.name}} Analysis</h2>
                                        <h4 class="mb-5 text-center">Your #1 Activity</h4>
                                        <div class="card bg-light">
                                            <div class="card-body">
                                                <p>Max speed <strong>{{activity_one.max_speed}} mph</strong></p>
                                                <p>Average speed <strong>{{activity_one.avg_speed}} mph</strong></p>
                                                <p>Longest <strong>{{activity_one.max_distance}} mi </strong></p>
                                                <p>Mean length <strong> {{activity_one.avg_distance}} mi</strong></p>
                                                <p>Max elevation gain <strong>{{activity_one.max_elevation_gain}} ft
                                                    </strong> </p>
                                                <p>Last personal record <strong>{{activity_one.recent_pr.date}}
                                                    </strong>
                                                </p>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div>
                                        <div>
                                            {% autoescape off %}
                                            <div>
                                                {{ date_speed_chart_1 }}
                                            </div>
                                            {% endautoescape %}
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            {% autoescape off %}
                                            <div>
                                                {{ time_speed_chart_1 }}
                                            </div>
                                            {% endautoescape %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Activity Two -->
            <hr class="mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <div id="accordionTwo">
                        <div class="card">
                            <div class="card-header text-center" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        Collapse/Show {{activity_two.name}} Analysis
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                                data-parent="#accordionTwo">
                                <div class="card-body">
                                    <div>
                                        <h2 class="text-center">{{activity_two.name}} Analysis</h2>
                                        <h4 class="mb-5 text-center">Your #2 Activity</h4>
                                        <div class="card bg-light">
                                            <div class="card-body">
                                                <p>Max speed <strong>{{activity_two.max_speed}} mph</strong></p>
                                                <p>Average speed <strong>{{activity_two.avg_speed}} mph</strong></p>
                                                <p>Longest <strong>{{activity_two.max_distance}} mi </strong></p>
                                                <p>Mean length <strong> {{activity_two.avg_distance}} mi</strong></p>
                                                <p>Max elevation gain <strong>{{activity_two.max_elevation_gain}} ft
                                                    </strong> </p>
                                                <p>Last personal record <strong>{{activity_two.recent_pr.date}}
                                                    </strong>
                                                </p>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div>
                                        <div>
                                            {% autoescape off %}
                                            <div>
                                                {{ date_speed_chart_2 }}
                                            </div>
                                            {% endautoescape %}
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            {% autoescape off %}
                                            <div>
                                                {{ time_speed_chart_2 }}
                                            </div>
                                            {% endautoescape %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-0"></div>
    </div>
    <div class="row mt-5" style="background-color:#1f262a;">
        <div class="col" style="height:100px;">

        </div>
    </div>
</div>


{% endblock content %}